body {
	background-color: #68439D;
	
	font-family: 'PT Serif', serif;
	font-size: 20px;
}

/*header*/

#header-nav {            
	background-color: #f9c616; 
	border-radius: 0;
	border: 0;
    padding-top: 1.7em;
}

#header-nav button {
    margin-top: 3em;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fad7a6;
}

.navbar-collapse {
    border-top: 0;
}



 .navbar-nav li a {       
	line-height: 60px;
	height: 3em;
	padding-bottom: 1em;
}

.navbar-brand h1 {  /*food llc*/
	
	margin-top: -29px;
	color: #1b4f8e;
	font-family: 'Caveat', cursive;
	font-weight: bold;
	font-size: 3em;
	padding-left: 1em;
	padding-top: auto;

}


.navbar-brand a:hover {
	text-decoration: none;
	text-shadow: 5px 4px 4px #fffff9;
}

#nav-list {
	background-color: #daf7a6;
	line-height: 4em;
}

#nav-list a {
	font-weight: bolder;
	color: #1b4f8e;
	font-size: 1.2em;
}

#nav-list a:hover {
	color: #358de0;
	background-color: #a5d357;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #7d1913;
}


@media (max-width: 767px)  {

	.navbar-brand h1 {
     font-size: 55px;
     float: left;
     margin-top: -18px;
     padding-left: 30px;

	}

}






/** HOME PAGE **/

#main-content {
    width: 100%;
    margin-bottom: 30px;
}

#top-heading {
    font-size: 2.7em;
    color: #f9cffb;
    font-weight: bolder;
    text-shadow: 3px 2px 4px #e92768; 
    
  
    margin-top: 25px;
    margin-bottom: 41px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bolder;
    margin-bottom: 1em;
    color: #513afd;
}

#chicken-tile, #beef-tile, #sushi-tile {
    width: 100%;
    padding: 20px;
    background-color: #d8d3fb;
    margin-bottom: 60px;
    box-shadow: 1px 1px 1px ;
}

section a:hover {
	color: #a652f9;
    
}


/** END HOME PAGE **/